<launch>
    <arg name="frame" default="robot"/>
    <arg name="x_pose" default="0.0"/>
    <arg name="y_pose" default="0.0"/>
    <arg name="z_pose" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="map_file" default="$(find mando_simulator)/maps/square_map.yaml"/>
    <arg name="map_frame_id" default="map"/>
    <arg name="do_navigation" default="true"/>


    <param name="tf_prefix" value="$(arg frame)"/>
    <!-- robot description -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mando_description)/urdf/scout_mini/scout_mini.xacro'"/>
    <!-- robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>
    <!-- spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg frame) -x $(arg x_pose) -y $(arg y_pose) -z $(arg z_pose) -Y $(arg yaw) -param robot_description" />

    <!-- laser_filter -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <rosparam command="load" file="$(find mando_simulator)/param/laser_range_filter.yaml"/>
    </node>
    
    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
        <param name="frame_id" value="$(arg map_frame_id)"/>
    </node>
    <!-- AMCL -->
    <include file="$(find mando_navigation)/launch/amcl.launch">
        <arg name="frame" value="$(arg frame)"/>
        <arg name="initial_pose_x" default="$(arg x_pose)"/>
        <arg name="initial_pose_y" default="$(arg y_pose)"/>
        <arg name="initial_pose_a" default="$(arg z_pose)"/>
    </include>
    <!-- Move Base -->
    <group if="$(arg do_navigation)">
        <include file="$(find mando_navigation)/launch/move_base.launch"/>
    </group>
</launch>